#our_clients {
    width: 1610px;
    height: 150.92px;
    padding: 0;
    margin: 0;
    margin-top: 70px;
    margin-left: 70px;
}

.container_clients {
    width: 772.64px;
    height: 53.57px;
}

.container_clientes h1 {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #4D4D4D;
    margin-left: 70px;
}

.container_clientes p {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    height: 17px;
    font-family: 400;
    color: #717171;
    margin-top: 12px;
    margin-left: 80px;
}

.container_logos {
    width: 1001.87px;
    height: 68.21px;
    margin-left:325px;
    margin-top: 15.2px;
    flex-direction: row;
    gap: 70px;
}

.container_logos img{
    width: 41px;
    height:41px;
    margin-left: 89px;
    margin-top: 10px;
    flex-direction: column;
    display: inline;
}