.section_five{
    display: flex;
    justify-content: center;
    max-width: 1400px;
    display: flex;
    margin-top:50%;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: 20rem;
}